# This is an example file and can be modified as needed
# These should never go into a git repo
# https://www.atlassian.com/git/tutorials/gitignore
# OS-specific
.DS_Store
[Tt]humbs.db

# Editor swapfiles
.*.sw?
*~

# Project files
bin
out
target
[Bb]uild/
/dist
/pkg
vendor
junit
logs

# Subversion files
.svn

# Puppet files
modules
/spec/fixtures
/spec/rp_env
!/spec/hieradata/default.yaml
!/spec/fixtures/site.pp

# Vagrant stuff
acceptance_config.yml
boxes/*
/.vagrant
/website/.vagrant
/website/build
/vagrant-spec.config.rb

# Bundler/Rubygems
*.gem
.bundle
pkg/*
tags
/Gemfile.lock
test/tmp/
vendor/
/exec
/.rspec_system

# Documentation
_site/*
.yardoc/
doc/

# Python
*.pyc

# Rubinius
*.rbc

# IDE junk
.idea/*
*.iml
.project
*.class

# Ruby Managers
.rbenv
.rbenv-gemsets
.ruby-gemset
.ruby-version
.rvmrc
