# This is an example file and can be modified as needed
# These should never go into a git repo
# https://www.atlassian.com/git/tutorials/gitignore
# OS junk files
[Tt]humbs.db
*.DS_Store
# Project files
bin
out
target
[Bb]uild/
*.class
/dist
/pkg
# Subversion files
.svn
# Puppet files
modules
/spec/fixtures
/spec/rp_env
!/spec/hieradata/default.yaml
!/spec/fixtures/site.pp
# Other files
.*.sw?
.yardoc
*.tmp
*.log
*.lock
/.rspec_system
/.vagrant
/.bundle
/Gemfile.lock
vendor
junit
logs
