# These should never go into a git repo
# OS junk files
[Tt]humbs.db
*.DS_Store
# Project files
[Bb]uild/
*.class
dist
/pkg
# Subversion files
.svn
# Puppet files
modules
/spec/fixtures
/spec/rp_env
!/spec/hieradata/default.yaml
!/spec/fixtures/site.pp
# Other files
.*.sw?
.yardoc
/.rspec_system
/.vagrant
/.bundle
/Gemfile.lock
/vendor
/junit
/log
